[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
twine = "*"

[packages]
pydantic = "==0.32.2"
oyaml = "==0.9"
Jinja2 = "==2.10.1"

[requires]
python_version = "3.7"
